In [1]:
# import dependencies
import pandas as pd
import csv
import os

data_path = os.path.join('..','filtered_data')

In [7]:
dfs = []
for filename in os.listdir(data_path):
    if filename.endswith(".csv"): # ignore none csv files
        # import file
        reader = os.path.join(data_path,filename)
        df = pd.read_csv(reader)
        dfs.append(df)
merged_df = pd.concat(dfs)
merged_df = merged_df.reset_index()
merged_df = merged_df.drop(columns=['index'])
merged_df

,Year,StateFIPS,CountyFIPS,Amount,Income,Rate,Income Ratio,LTV,Property Type,First,Race,Gender,Age,Credit Score
0,2009,21,117,148000,75322,0.0488,1.1378,0.80,PT01,2,5,1,36,5
1,2009,21,15,197500,141050,0.0475,2.1307,0.72,PT01,2,5,1,59,5
2,2009,21,117,219000,106017,0.0475,1.6015,0.70,PT01,2,5,2,27,5
3,2009,21,37,244000,125539,0.0500,1.8964,0.80,PT01,2,5,1,32,5
4,2009,21,15,417000,360272,0.0450,5.4422,0.35,PT01,2,5,1,46,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17162,2018,21,111,308000,185086,0.0463,2.5886,0.80,PT01,2,5,1,35,5
17163,2018,51,61,392000,146568,0.0475,1.2506,0.80,PT01,2,5,1,45,5
17164,2018,37,63,292000,107208,0.0463,1.3301,0.80,PT01,1,5,1,39,5
17165,2018,37,147,315200,104844,0.0488,1.7076,0.80,PT01,2,5,1,75,5
17166,2018,37,119,345188,92940,0.0525,1.2543,0.80,PT07,2,5,2,63,5

In [10]:
merged_df.to_csv('merged_data.csv',index=False)